# Logs
logs
*.log
npm-debug.log*

# Transpiled javascript
dist/

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.*
!.env.example

# cache 
.cache.json

